<div>
    <div><p style="color:white">Chọn cách bắt đầu của bạn (Tùy theo hướng chọn tài khoản của bạn sẽ 
        tự động theo dõi 1 số  tài khoản (Chọn Angel nếu bạn dưới 18 và muốn trải nghiệm trang web 1 cách an toàn)</p>
    </div>
    <hr>
    <input type="button" id ="choiceButton" onclick ="choiceAngel ();window.location.href = '/'" value="Choice Angel">
    <input type="button" id ="choiceButton" onclick ="choiceDevil ();window.location.href = '/'" value="Choice Devil">
</div>

<style>
    #choiceButton {
        margin-top: 25px;
        margin-left: 2%;
        width: 95%;
        height: 35px;
        border-radius: 20px;
        background-color: #474747;
        color: rgb(180, 180, 180);
        border: 1px solid #333;
    }
    #choiceButton:hover {
        background-color: rgb(194, 194, 194);
        color: black;
    }
</style>