<title>Login</title>
    <h3 style="color: aliceblue;">Login</h3>
    <hr>
    <div class="form-group">
    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
    <br>
    <input type="password" name="username" class="form-control" id="pass" placeholder="Password">
    <br>
   <p id ="login-auth"></p>
    <input type="submit" class ="form-control" id = "login-submit" name ="login-submit" value="Login">
    <hr>
   <p style ="color: lightblue"> Chưa có tài khoản? Đăng kí ở
    <a class ="a-fake" id ="signin-show" style ="color: lightblue">đây</a</p>
    </div>