    <% for(var i=0; i < follow.length; i++) { %>
        <div style ="padding: 5px; height: 30px; background-color :#474747; margin-top: 10px; border-radius:2px">
            <a class = 'a-fake' href = "/user/<%-follow[i].following %>" style ="color:white; ">@<%-follow[i].following %></a>
            <p style ="color: white; font-size:9pt; font-style: italic;float:right">Đã theo dõi</p>
        </div>
    <% } %> 
