  <div>
      <h3 style="color: aliceblue;">Signin Page</h3>
    <hr>
    <div class="form-group">
    <input type="text" name="username" class="form-control" id="username" placeholder="Username">
    <br>
    <input type="password" name="username" class="form-control" id="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"placeholder="Password">
    <br>
    <input type="text" name="email" class="form-control" id="email" placeholder="Email" >
    <br>
    <p id ="signin-auth"></p>
    <input type="submit" class ="form-control" id = "signin-submit" name ="signin-submit" value="Signin">
    <hr>
    <p style ="color: lightblue"> Có tài khoản rùi? Đăng nhập ở
      <a class ="a-fake" id ="login-show" style ="color: lightblue">đây</a</p>
    <br>
    </div>
  </div>
  