<div id="profile_res" style="background-image: url(files/imgs/download.jpg);">
<img src="files/imgs/unknown.jpg" id ="profile_ava_res" alt="avavtar">
<p id ="fullname_show"><%-Page [0].fullname%></p>
<p id ="username_show" >t@emplate</p>
<p id ="joindate_show" class="info-text-res">JoinDate: 000</p>
<p id ="followers_show" class="info-text-res">Follower: 0</p>
<p id ="followings_show" class="info-text-res">Following : 0</p>
<div class="follow-info-swt-btn">
<button type="button" id="round-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>                     
</div>

pattern="[a-zA-Z0-9._]{8,20}" title=""

<div id="profile_res" style="background-image: url(files/imgs/download.jpg);">
    <img src="files/imgs/`+profile [0].profile_ava+`" id ="profile_ava_res" alt="avavtar">
    <p id ="fullname_show">`+profile [0].fullname+`</p>
    <p id ="username_show" >@`+profile [0].username+`</p>
    <p id ="joindate_show" class="info-text-res">JoinDate: `+profile [0].joinday+`</p>
    <p id ="followers_show" class="info-text-res">Follower: </p>
    <p id ="followings_show" class="info-text-res">Following : </p>
    </div>`




    <title>40-basic</title>
    <title id ="username-show">Profiles</title>
    <div id="profile_block">
    <!-- Single button -->
    <div class="btn-group">
    <button type="button" id ="profile-post-show" class ="button-profile-more" > Post </button>
    <button type="button" id ="profile-image-show" class ="button-profile-more" > Image </button>
    <button type="button" id ="profile-follower-show" class ="button-profile-more" > Follower </button>
    <button type="button" id ="profile-following-show" class ="button-profile-more" > Following </button>
    </div>
     <hr>
     <div id="show-user-contents"></div>
     </div>
     
    