<div id="profile_res" style="background-image: url(files/imgs/download.jpg);">
    <img src="files/imgs/unknown.jpg" id ="profile_ava_res" alt="avavtar">
    <p id ="fullname_show">temPlate</p>
    <p id ="username_show" >t@emplate</p>
    <p id ="joindate_show" class="info-text-res">JoinDate: 000</p>
    <p id ="followers_show" class="info-text-res">Follower: 0</p>
    <p id ="followings_show" class="info-text-res">Following : 0</p>
    <div class="follow-info-swt-btn">
        <button type="button" id="round-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>                     
</div>

pattern="[a-zA-Z0-9._]{8,20}" title=""
