<div id="content">
    <table>
        <% for(let i=0; i < data.length; i++) { %>
           <tr>
             <td><%= data[i].username %></td>
             <td><%= data[i].email %></td>
           </tr>
        <% } %>
        <%=data [0].username%>
        </table>
        <%=user%>

</div>