<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40-basic</title>
</head>

<body>
    <%- include('header/head')%>
    <div id="page-body" style="height: auto; width: auto;">
        <%-Page [0].Content %>
    </div>
   
</body>

</html>