<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40-basic</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body onload=" 
    catchUrl('/login', 'content', 'login');
    catchUrl('/login', 'apps', 'login');
    catchUrl('/login', 'signin', 'login');
    catchUrl('/home', 'login', 'content');
    catchUrl('/home', 'apps', 'content');
    catchUrl('/home', 'signin', 'content');
    catchUrl('/apps', 'content', 'apps');
    catchUrl('/apps', 'login', 'apps');
    catchUrl('/apps', 'signin', 'apps');
    catchUrl('/signin', 'login', 'signin');
    catchUrl('/signin', 'apps', 'signin');
    catchUrl('/signin', 'content', 'signin');
    PopUpClose('search-bar');">
    <%- include('header/head')%>
        <%- include('home')%>
            <%- include('login')%>
                <%- include('apps')%>
</body>

</html>