<!-- POST -->
<div id ="post-panel" class="post-panel">
    <h2 style = "color: white">POST</h2> 
    <a class="a-fake" onclick="postPanelHide ()">x</a>
    <hr>
    <div class="post-inner">
        <input type="hidden" id ="username" value ="<%-session%>">
        <input type="text" name="" class="form-control" id="">
        <textarea name="" id="post-content" cols="30" rows="4" class ="form-control post-content" placeholder = "Post content here" 
       ></textarea>
        <div id="add-imgs-show">
        </div>
        <br>
        <input type="file" name="mypic" id ="add-imgs" >
    </div>
        <hr>
        <input type="submit" value="POST" class ="post-button">
    
</div>