<%- include('header/head')%>
<div id="page-body" style="height: auto; width: auto;">
    <%-signinPage [0]. Content %>
    <% if (session != '') {
        %> 
        <script>
            window.location.href = "/";
        </script>
        <%
    } %>
    
</div>


