/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#search-bar {
    height: 32px;
    width: 350px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
}
.small-profile-pic {
    height: 20px;
    width: auto;
    border-radius: 5px;
}
