/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#search-bar {
    height: 32px;
    width: 350px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
    border: 1px solid transparent;
}
.small-profile-pic {
    height: 20px;
    width: auto;
    border-radius: 5px;
}
body {
    background-color: #333;
} 
#page-body {
    background-color:#333;
}

/* Login CSS */
.right-panel {
    width: 350px;
    height: 90%;
    margin-left: 30px;
    background-color: rgba(34,34,34,255);
    padding: 30px;
    color: white;
    border-radius: 5px;
}

.right-side-login {
    margin-top: -50px;
    padding-top: 50px;
    height: 100%;  
    background-color: #333;  
}
.row {
    background-color: #333;  
}
.left-side-login {
    margin-top: -40px;
    height: 107%;
    background-image: url(../files/imgs/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#login-auth {
    color: red;
}
#signin-auth {
    color: red;
}
.a-fake {
    cursor: pointer;
}
#signin-submit{
    height: 35px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
    border: 1px solid #333;
}
#login-submit{
    height: 35px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
    border: 1px solid #333;
}
#signin-submit:hover {
    background-color: rgb(194, 194, 194);
    color: black;

}

#login-submit:hover {
    background-color: rgb(194, 194, 194);
    color: black;
}

.right-panel div #username {
    height: 35px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
    border: 1px solid #333;
}

.right-panel div #pass {
    height: 35px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
    border: 1px solid #333;
}

.right-panel div #email {
    height: 35px;
    border-radius: 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
    border: 1px solid #333;
}

/* POST Content styles */
.post-panel{
    display: none;
    background-color: rgba(34,34,34,255);
    width: 400px;
    height: 550px;
    border-radius: 5px;
    padding: 25px;
    z-index: 1000;
    position: fixed;
    top: 10%;
    left: 35%;
}
.post-content{
    resize: none;
}
.post-button {
    width: 100%;
    height: 45px;
    position: center;
}
.add-imgs-show {
    max-width: 350px;
    max-height: 350px;
}
.post-inner {
    max-height: 395px;
    overflow: auto;
}
#add-imgs{
    width: 100%;
    height: 60px;
}
.post-panel a {
    float: right;
    font-size: 18pt;
    margin-top: -80px;
}

input::file-selector-button {
    width: 100%;
    height: 10%;
    padding: 0.5em;
    margin-top: 10px;
    border: thin solid grey;
    border-radius: 3px;
    cursor:pointer;
    background-image: url(../files/imgs/gray1.jpg);
}
input::file-selector-button:hover{
    background-color: rgb(97, 97, 97);
}

.imgs-post {
    margin-left: 50px;
    margin-bottom: 10px;
    width: 410px;
    height: 430px;
    border-radius: 5px;
    object-fit: cover;
}