.right-panel {
    width: 350px;
    height: 100%;
    padding-top: 100px;
    margin-left: 50px;
}

.right-side-login {
    height: 100%;    
}
.left-side-login {
    margin-top: -40px;
    height: 107%;
    background-image: url(../files/imgs/gray1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}