.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#search-bar {
    border: none;
    position: fixed;
    height: 200px;
    width: 100%;
    background-color: rgb(74, 218, 93);
    z-index: 100;
}