<%- include('link')%>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#">Search</a>
        <a href="/login">Login</a>
        <a href="#about">OpenRadom</a>
    </div>