<%- include('link')%>
<style>
    body{
        margin-top: 80px;
    }
</style>
<!-- Thanh loading khi taỉ trang -->
  <div class="pre-loader-line"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" id ="refresh-section">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a id ="home-show" class ="active navbar-brand a-fake">NodeJSImage_View</a></li>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a onclick="window.location.href = '/'" id ="home-show" class ="a-fake">Home</a></li>
                <li><a onclick="freeLoad ('/tag_group'); " class ="a-fake">Tags/Group</a></li>
                <li><a onclick=" freeLoad ('/app'); " class ="a-fake menu-item">Apps</a></li>
              </ul>
              <%- include('searchBar')%>
              <ul class="nav navbar-nav navbar-right">
                <% if (session != '') {
                  %> 
                <li><a class ="a-fake" id = "profile-show" onclick=" freeLoad ('/p/<%-session%>')" > &nbsp;@<%-session%> </a></li>
                <li><a class ="a-fake" id ="post-add-show"><span class="glyphicon glyphicon-plus" ></span></a></li>
                <li><a class ="a-fake" id = "login-show" ><span class="glyphicon glyphicon-send" ></span></a> </li>
                <li><a class ="a-fake" id = "login-show" ><span class="glyphicon glyphicon-pushpin" ></span></a>   </li>
                <li><a class ="a-fake"><span class="glyphicon glyphicon-cog" ></span></a></li>
                <li><a class ="a-fake" id = "logout" ><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;&nbsp;</a></li>
                    <%
                    }else {
                      %> 
                      <%
                      }%>
                  
                  </ul>
         </div>
        </div>
      </nav>
     
   