<%- include('link')%>
    <div class="topnav">
        <a class="active" onclick="
            freeLoad ('/home','login','content');
            freeLoad ('/home','apps','content');
            PopUpClose('search-bar')">Home</a>
        <a onclick="PopUpOpen('search-bar')">Search</a>
        <a onclick="
            freeLoad ('/login','content','login');
            freeLoad ('/login','apps','login');
            PopUpClose('search-bar')">Login</a>
        <a onclick="
            freeLoad ('/apps','content','apps');
            freeLoad ('/apps','login','apps');
            PopUpClose('search-bar')">Apps</a>
    </div>
    <%- include('searchBar')%>