<%- include('link')%>
    <div class="topnav">
        <a class="active" onclick="
            freeLoad ('/home','login','content');
            freeLoad ('/home','apps','content');">Home</a>
        <a>Search</a>
        <a onclick="
            freeLoad ('/login','content','login');
            freeLoad ('/login','apps','login');">Login</a>
        <a onclick="
            freeLoad ('/apps','content','apps');
            freeLoad ('/apps','login','apps')">Apps</a>
    </div>