<%- include('link')%>
    <div class="topnav">
        <a class="active" onclick="
            freeLoad ('/','login','content');
            freeLoad ('/','login1','content');">Home</a>
        <a href="#">Search</a>
        <a onclick="
            freeLoad ('/login','content','login');
            freeLoad ('/login','login1','login');">Login</a>
        <a onclick="
            freeLoad ('/apps','content','login1');
            freeLoad ('/apps','login','login1')">Apps</a>
    </div>