<%- include('link')%>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">Search</a>
        <a href="#contact">Login</a>
        <a href="#about">OpenRadom</a>
    </div>